.error{
    background-color: #b03838;
}
.advertencia{
    background-color: #9d6026;
}
.exitoso{
    background-color: #1f7824;
}

.notificacion{
    color: white;
    margin: 1em;
    padding: 2em;
    border-radius: 5px;
}